label(for="page-size")
	| Page Size
	select(name="page-size", class="form-control")
		option="A4"
		option="A0"
		option="A1"
		option="A2"
		option="A3"
		option="A4"
		option="A5"
		option="A6"
		option="A7"
		option="A8"
		option="A9"
		option="B0"
		option="B1"
		option="B10"
		option="B2"
		option="B3"
		option="B4"
		option="B5"
		option="B6"
		option="B7"
		option="B8"
		option="B9"
		option="C5E"
		option="Comm10E"
		option="DLE"
		option="Executive"
		option="Folio"
		option="Ledger"
		option="Legal"
		option="Letter"
		option="Tabloid"